<li>
	<h4 class="title">
		<%= link_to publication.title, publication %>
	</h4>
	<span class="ptype">
		<%= publication.ptype %>
	</span>
	<span class="nameofpublication">
		<%= publication.nameofpublication %>
	</span>
	<span class="resume">
		<%= publication.resume %>
	</span>
	<span class="timestamp">
		Posted: <%= publication.created_at.to_date %>.
	</span>
	<% if current_user?(publication.user) %>
		<%= link_to "delete", publication, method: :delete, data: { confirm: "You sure?" }, title: publication.title %>
	<% end %>
</li>