<%= provide(:title, @publication.title) %>
<h1> <%= @publication.title %></h1>
</br>
<span class="ptype">
		<%= @publication.ptype %>
</span>
<span class="nameofpublication">
		<%= @publication.nameofpublication %>
</span>
</br></br>
<div class="content">
	<%= @publication.content %>
</div>
</br></br></br>
<span class="timestamp">
		Posted: <%= @publication.created_at.to_date %>. <a href="../users/<%= @publication.user_id %>">Watch the publicator Profile</a>.
</span>
<div class="span8">
  <%= render 'follow_form' if signed_in? %>
</div>
<div class="stats">
  <% if @publication.followers.any? %>
    <a href="<%= followers_publication_path(@publication) %>">
      <strong id="followers" class="stat">
        <%= @publication.followers.count %>
      </strong>
      authors
    </a>
  <% end %>
</div>
