<%= form_for(@publication) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :title, placeholder: "Enter your title" %>
	</div>
	<div class="field">
		<%= f.text_area :ptype, placeholder: "Enter your type(news,conference)" %>
	</div>
	<div class="field">
		<%= f.text_area :nameofpublication, placeholder: "Enter name of the publication(news name,conf name)" %>
	</div>
	<div class="field">
		<%= f.text_area :resume, placeholder: "Compose the resume of publication here" %>
	</div>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose your publication content here" %>
	</div>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>